* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body{
	background: white;
}
h1{
	color: #C8C8C8;
	float: left;
	line-height: 1;
	margin-top:7px;
}

h2{
	color: #fafafa;
	text-align: center;
}

h3{
	color: rgb(90, 90, 90);
}

#main{
	position: fixed;
	top: 50px;
	width: 100%;
	height: 100%;
	text-align: center;
	background: lightblue;
	text-alight: center;
}

#main .textBox{
	position: relative;
	width: 20%;
	height: 40%;
	left: 40%;
}

#botao{
	position: relative;
	top: 10px;
	right: 7px;
	float: right;
	height: 25px;
	text-align: center;
	text-transform: uppercase;
	padding: 5px;
	color: rgb(90, 90, 90);
	cursor: pointer;
	font-weight:bold;
	font-size: 19px;
	display: inline;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

#botao:hover{
	color: lightcoral;
}

#index{
	position: relative;
	width: 60%;
	height: 40%;
	left: 20%;
	top: 20%;
	padding: 2em;
}

#indexBox{
	float: left;
	width: 150px;
	height: 150px;
	padding: 20px;
	margin: 20px;
	color: rgb(90, 90, 90);
	font-weight: bold;
	background: white;
	border-radius: 10px;
	line-height: 2;
}

#indexIcons{
	position: relative;
	font-size: 70px;
}

#botaoPeriodo{
	position: absolute;
	top: 10px;
	left: 7px;
	height: 25px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
	font-weight:bold;
	display: inline;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
	
#botaoPeriodo:hover{
	color: lightcoral;
}

#top1{
	position: fixed;
	top: 50px;
	width: 70%;
	height: 50px;
	background: rgb(90, 90, 90);
	padding-top: 7px;
}

#inverter{
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	margin:7px;
	right: 20px;
	color: white;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

#inverter:hover{
	cursor:pointer;
	color: lightcoral;
}

#col1{
	position: fixed;
	top:100px;
	width: 70%;
	height: 83%;
	background: lightblue;
	overflow-y: scroll;
}

#top2{
	position: fixed;
	top: 50px;
	height: 50px;
	right: 0px;
	width: 30%;
	background: rgb(90, 90, 90);
	padding-top: 7px;
}

#col2{
	background: lightseagreen;
	top: 100px;
	right: 0px;
	width: 30%;
	height: 83%;
	overflow-y: scroll;
	position: fixed;
}

#periodoBox {
	width: 47%;
	height: 305px;
	border:3px solid white;
	padding-top: 2px;
	border-radius:5px;
	float: left;
	margin: 5px 10px 5px 10px;
	overflow:auto;
}

#header{
	background: #D8D8D8;
	line-height: 1.5;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	color: lightcoral;
}

#headerDescription{
	background: white;
	line-height: 1.5;
	padding-left: 15px;
	text-align: left;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 900;
}

#numPeriodo{
	position: relative;
	width: 100%;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	line-height: 2;
	background: darkslateblue;
	color: #fafafa;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

#numPeriodo:hover{
	background: #8D4BC2;
}

#numPeriodoEditando {
	position: relative;
	width: 100%;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	line-height: 2;
	background: #8D4BC2;
	color: #fafafa;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

#numPeriodoEditando:hover{
	background: darkslateblue;
}

#editandoNote {
	width:100%;
	height: 15px;
	background: #8D4BC2;
	color: white;
	font-size: 10px;
	font-weight:bold;
	text-align:center;
}

span{
	float: right;
	margin-right: 15px;
}

.disc{
	background: #eee;
	line-height: 1.5;
	padding-left: 15px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.discRed{
	background: #C80000;
	color: white;
}

.disc2{
	line-height: 1.5;
	padding-left: 15px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
}

.totalC{
	text-align: right;
	margin-right: 40px;
	line-height: 2;
}

.totalCNota{
	text-transform: uppercase;
	color: red;
	font-size: 10px;
	font-weight:bold;
}

.cada1:hover{
	background: #ababab;
	cursor: pointer;
}

.cada2:hover{
	background: #027561;
	cursor: pointer;
}

#barraDeStatus{
	position:fixed;
	width: 100%;
	height: 30px;
	bottom: 0px;
	background: white;
	color: rgb(90, 90, 90);
	padding-left: 10px;
	padding-top: 5px;
}

