* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body{
	background: white;
}

#novoPeriodo{
	position: absolute;
	top: 7px;
	left: 7px;
	background: lightcoral;
	height: 25px;
	width: 130px;
	text-align: center;
	padding-top: 4px;
	cursor: pointer;
	border: 3px solid #fafafa;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
	
#novoPeriodo:hover{
	background: #8D4BC2;
	color: #fafafa;
}

#top1{
	position: fixed;
	top: 50px;
	width: 70%;
	background: rgb(90, 90, 90);
}

#col1{
	position: fixed;
	top:100px;
	width: 70%;
	height: 87%;
	background: lightblue;
	overflow-y: scroll;
}

#top2{
	position: fixed;
	top: 50px;
	right: 0px;
	width: 30%;
	background: rgb(90, 90, 90);
}

#col2{
	background: lightseagreen;
	top: 100px;
	right: 0px;
	width: 30%;
	height: 87%;
	overflow-y: scroll;
	position: fixed;
}

#periodoBox {
	width: 47%;
	height: 300px;
	border:3px solid white;
	padding-top: 2px;
	border-radius:5px;
	float: left;
	margin: 5px 10px 5px 10px;
}

#header{
	background: #D8D8D8;
	line-height: 1.5;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	color: lightcoral;
}

#headerDescription{
	background: white;
	line-height: 1.5;
	padding-left: 15px;
	text-align: left;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 900;
}

h2{
	color: #fafafa;
	text-align: center;
	line-height: 2;
}

#numPeriodo{
	position: relative;
	width: 100%;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	line-height: 2;
	background: darkslateblue;
	color: #fafafa;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

#numPeriodo:hover{
	background: #8D4BC2;
}

span{
	float: right;
	margin-right: 15px;
}

.disc{
	background: #eee;
	line-height: 1.5;
	padding-left: 15px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.disc2{
	line-height: 1.5;
	padding-left: 15px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
}

.totalC{
	text-align: right;
	margin-right: 40px;
	line-height: 2;
}

.totalCNota{
	text-transform: uppercase;
	color: red;
	font-size: 10px;
	font-weight:bold;
}

.bAdd{
	width: 100%;
	height: 100%;
	cursor: pointer;
	border: none;
	background: none;
	font-size: 17px;
	outline: none;
	text-transform: none;
}

.bAdd:hover{
	color: #fff;
}

.editPeriodo{
	position: relative;
	bottom: 0px;
	width: 100%;
	height: 30px;
	background: #ababab;
	border: none;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
	-webkit-transition: background 200ms ease-in;
	-moz-transition: background 200ms ease-in;
	-ms-transition: background 200ms ease-in;
	-o-transition: background 200ms ease-in;
	transition: background 200ms ease-in;
	color: #fff;
}

.addDisc{
	width: 100%;
	height: 30px;
	background: #ababab;
	border: none;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
	-webkit-transition: background 200ms ease-in;
	-moz-transition: background 200ms ease-in;
	-ms-transition: background 200ms ease-in;
	-o-transition: background 200ms ease-in;
	transition: background 200ms ease-in;
	color: #fff;
}

.addDisc:hover{
	background: #777;
	outline: none;
}

.addDiscPeriodo{
	background: rgb(133, 133, 133);
	color: white;
	border: none;
	padding: 2px;
	font-size: 12px;
	outline: none;
	cursor: pointer;
}

.addDiscPeriodo:hover{
	background:white ;
	color: rgb(133, 133, 133);
}

#edd{
	color: darkcyan;
	font-size: 15px;
	margin-bottom: 7px;
	margin-top: 6px;
}

#closeEdit{
	float: right;
	padding-right: 10px;
	text-decoration: initial;
	font-size: 12px;
	font-weight: 700;
	font-family: cursive;
	cursor: pointer;
	padding-top: 1px;
	color: inherit;
}

.cada1:hover{
	background: #ababab;
}

.cada2:hover{
	background: #027561;
}

