@(form: play.data.Form[Autenticador.Cadastro])
@import helper._
@main("Cadastro") {
<meta charset="utf-8">

    <body>    
	  <form class="horizontal-form" role="form" action="@routes.Autenticador.efetuaCadastro()" method="post">
   			   <br>
   			   <br>
   			   <h3>Preencha os campos abaixo para completar o cadastro</h3>
			   <br>	
   			   <input type="email" class= "control-label" name="email" placeholder="e-mail"  >
			   <br>
			   <input type="password" class="control-label" name="password" placeholder="senha">
			   <br>
			   <input type="password" class="control-label" name="repassword" placeholder="Confirme a senha" >
			   <br>
			   <button type="submit" class="btn  btn-primary">   Entrar   </button>
			   
			   
       </form>
		
    </body>
		
  <body>

   
}


