@(disciplinas: List[Disciplina], disciplinaAtual: Disciplina, planejador: Planejador)

@import helper._

@main("Planejamento de Curso") {

<h1>Planejamento de Curso</h1>
<a onclick="logout()"><div id="botao">Sair</div></a>
<a href="/plano"><div id="botao">Plano</div></a>
<a href="/home"><div id="botao">Home</div></a>

<div id="top1"><!-- coluna de periodos -->
	<h2>Disciplinas</h2>
</div>
<div id="col1">
	
	<div id="disciplinaBox">
		<div class="nome">@disciplinaAtual.getNome()</div>
		<div class="creditos">@disciplinaAtual.getCreditos() créditos </div>
		<div class="discInfo">
			@if(disciplinaAtual.getPeriodoSugerido() < 0){
				Disciplina optativa.<br>
			} else {
				Período indicado: @disciplinaAtual.getPeriodoSugerido()<br>
			}
		    Dificuldade: @disciplinaAtual.getDificuldade()<br>
			@if(disciplinaAtual.getTotalDePreRequisitos() == 0){
				Não tem pré-requisitos.				
			} else {
				Pré-requisitos: 
				<div class="preRequisitos">
					<ul>
						@for(disciplina <- disciplinaAtual.getPreRequisitos()){
							<li>@disciplina.getNome() - @disciplina.getCreditos() créditos</li>	
						}
					</ul>
				</div>
			}
		</div>
	</div>
	
</div>

<div id="top2"><h2>Disciplinas</h2></div><!-- coluna de disciplinas -->
<div id="col2">
	<div id="header">Obrigatórias</div>
	<div id="headerDescription">Disciplina <span>créditos / <a title="variando de 1-fácil até 5-difícil">dificuldade</a></span></div>
	
	<div class="disc2">
		@for(disciplina <- disciplinas) {
			@if(disciplina.getPeriodoSugerido() == 1){
				<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
					@disciplina.getNome() <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		
		@for(disciplina <- disciplinas) {
			@if(disciplina.getPeriodoSugerido() == 2){
				<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
					@disciplina.getNome() <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- disciplinas) {
			@if(disciplina.getPeriodoSugerido() == 3){
				<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
					@disciplina.getNome() <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- disciplinas) {
			@if(disciplina.getPeriodoSugerido() == 4){
				<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
					@disciplina.getNome() <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- disciplinas) {
			@if(disciplina.getPeriodoSugerido() == 5){
				<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
					@disciplina.getNome() <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- disciplinas) {
			@if(disciplina.getPeriodoSugerido() == 6 && !planejador.ehDisciplinaOptativaGenerica(disciplina)){
				<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
					@disciplina.getNome() <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- disciplinas) {
			@if(disciplina.getPeriodoSugerido() == 7 && !planejador.ehDisciplinaOptativaGenerica(disciplina)){
				<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
					@disciplina.getNome() <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- disciplinas) {
			@if(disciplina.getPeriodoSugerido() == 8 && !planejador.ehDisciplinaOptativaGenerica(disciplina)){
				<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
					@disciplina.getNome() <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
	</div>

	<div id="header">Optativas TECC</div>
	<div id="headerDescription">Disciplina <span>créditos / <a title="variando de 1-fácil até 5-difícil">dificuldade</a></span></div>
			
	<div class="disc2">
		@for(disciplina <- disciplinas) {
			@if(disciplina.getPeriodoSugerido() == -2){
				<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
					@disciplina.getNome() <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
	</div>
	
	<div id="header">Optativas de Outros Cursos</div>
	<div id="headerDescription">Disciplina <span>créditos / <a title="variando de 1-fácil até 5-difícil">dificuldade</a></span></div>
	
	<div class="disc2">
		@for(disciplina <- disciplinas) {
				@if(disciplina.getPeriodoSugerido() == -1){
					<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
					@disciplina.getNome() <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
				}
		}
	</div>
</div>

<div id="barraDeStatus">
</div>
}
