@(disciplinas: List[Disciplina], disciplinaAtual: Disciplina)

@import helper._

@main("Planejamento de Curso") {

<h1>Planejamento de Curso</h1>
<a onclick="logout()"><div id="botao">Sair</div></a>

<div id="top1"><!-- coluna de periodos -->
	<h2>Disciplinas</h2>
</div>
<div id="col1">
	
	Fazer informações da disciplina escolhida
	
</div>

<div id="top2"><h2>Disciplinas</h2></div><!-- coluna de disciplinas -->
<div id="col2">
	<div id="header">Obrigatórias</div>
	<div id="headerDescription">Disciplina <span>créditos / <a title="variando de 1-fácil até 5-difícil">dificuldade</a></span></div>
	
	<div class="disc2">
		@for(disciplina <- disciplinas) {
			@if(disciplina.getPeriodoSugerido() == 1){
				<a title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		
		@for(disciplina <- disciplinas) {
			@if(disciplina.getPeriodoSugerido() == 2){
				<a title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- disciplinas) {
			@if(disciplina.getPeriodoSugerido() == 3){
				<a title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- disciplinas) {
			@if(disciplina.getPeriodoSugerido() == 4){
				<a title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- disciplinas) {
			@if(disciplina.getPeriodoSugerido() == 5){
				<a title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- disciplinas) {
			@if(disciplina.getPeriodoSugerido() == 6){
				<a title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- disciplinas) {
			@if(disciplina.getPeriodoSugerido() == 7){
				<a title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- disciplinas) {
			@if(disciplina.getPeriodoSugerido() == 8){
				<a title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
	</div>

	<div id="header">Optativas TECC</div>
	<div id="headerDescription">Disciplina <span>créditos / <a title="variando de 1-fácil até 5-difícil">dificuldade</a></span></div>
			
	<div class="disc2">
		@for(disciplina <- disciplinas) {
			@if(disciplina.getPeriodoSugerido() == -2){
				<a title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
	</div>
	
	<div id="header">Optativas de Outros Cursos</div>
	<div id="headerDescription">Disciplina <span>créditos / <a title="variando de 1-fácil até 5-difícil">dificuldade</a></span></div>
	
	<div class="disc2">
		@for(disciplina <- disciplinas) {
				@if(disciplina.getPeriodoSugerido() == -1){
					<a title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
					<br>
				}
		}
	</div>
</div>

<div id="barraDeStatus">
</div>
}
