@(periodos: List[Periodo], naoAlocadas: List[Disciplina], numPeriodo: Integer, planejador: Planejador)

@import helper._

@main("Planejamento de Curso") {

<div id="top1"><!-- coluna de periodos -->
	<a onclick="novoPeriodo('@planejador.getTotalDePeriodos()+1')"><div id="novoPeriodo">Novo Período</div></a>
	<h2 style="border-bottom: none">Períodos</h2>
</div>
<div id="col1">
	@for(periodo <- periodos){
		@if(periodo.getNumero() == numPeriodo){
			<div id="periodoBox">
				<a onclick="sairEdicao()" title="Clique aqui para fechar edição"><div id="numPeriodoEditando"><b>@periodo.getNumero()º</b> Período</div></a>
				<div id="headerDescription">Disciplina <span>créditos / <a title="variando de 1-fácil até 5-difícil">dificuldade</a></span></div>
				<div class="disc"><!-- Disciplinas do periodo -->
				    @for(disciplinaPeriodo <- periodo.getDisciplinas()) {
				    	@if(disciplinaPeriodo.isAlocadaCorretamente()) {
				    	   	<a onclick="rDisciplina('@disciplinaPeriodo.getId()', '@numPeriodo')" class="cada1" title="Pré-requisitos: @disciplinaPeriodo.getPreRequisitos">@disciplinaPeriodo.getNome()</a><span>@disciplinaPeriodo.getCreditos() / @disciplinaPeriodo.getDificuldade()</span>
				    		<br>
				    	} else {
				    		<a onclick="rDisciplina('@disciplinaPeriodo.getId()', '@numPeriodo')" class="cada1 discRed" title="Pré-requisitos: @disciplinaPeriodo.getPreRequisitos">@disciplinaPeriodo.getNome()</a><span>@disciplinaPeriodo.getCreditos() / @disciplinaPeriodo.getDificuldade()</span>
				    		<br>
				    	}
				    }
				</div>
				<div class="totalC"><!-- Total de créditos do periodo -->
				@if(periodo.getTotalDeCreditos() < 14){
					<div class="totalCNota">Número mínimo de 14 créditos não alcançado</div>
				}
					<b>Total: </b>@periodo.getTotalDeCreditos()  /   @periodo.getTotalDeDificuldade()
				</div>
				<div id="editandoNote">Clique na disciplina para adicionar aqui ou mover de outro período para este.</div>
			</div><!-- Fim de um periodo -->
		} else {
			<div id="periodoBox">
				<a onclick="editarPeriodo('@periodo.getNumero()')" title="Clique aqui para editar"><div id="numPeriodo"><b>@periodo.getNumero()º</b> Período</div></a><!-- Numero do periodo -->
				<div id="headerDescription">Disciplina <span>créditos / <a title="variando de 1-fácil até 5-difícil">dificuldade</a></span></div>
				<div class="disc"><!-- Disciplinas do periodo -->
				    @for(disciplinaPeriodo <- periodo.getDisciplinas()) {
				    	@if(disciplinaPeriodo.isAlocadaCorretamente()) {
				    	   	<a onclick="moverDisciplina('@disciplinaPeriodo.getId()', '@numPeriodo', '@periodo.getNumero()')" class="cada1" title="Pré-requisitos: @disciplinaPeriodo.getPreRequisitos">@disciplinaPeriodo.getNome()</a><span>@disciplinaPeriodo.getCreditos() / @disciplinaPeriodo.getDificuldade()</span>
				    		<br>
				    	} else {
				    		<a onclick="moverDisciplina('@disciplinaPeriodo.getId()', '@numPeriodo', '@periodo.getNumero()')" class="cada1 discRed" title="Pré-requisitos: @disciplinaPeriodo.getPreRequisitos">@disciplinaPeriodo.getNome()</a><span>@disciplinaPeriodo.getCreditos() / @disciplinaPeriodo.getDificuldade()</span>
				    		<br>
				    	}
				    }
			   	</div>
				<div class="totalC"><!-- Total de créditos do periodo -->
				@if(periodo.getTotalDeCreditos() < 14){
					<div class="totalCNota">Número mínimo de 14 créditos não alcançado</div>
				}
					<b>Total: </b>@periodo.getTotalDeCreditos()  /   @periodo.getTotalDeDificuldade()
				</div>
			</div><!-- Fim de um periodo -->
		}			
	}
</div>

<div id="top2"><h2>Disciplinas</h2></div><!-- coluna de disciplinas -->
<div id="col2">
	<div id="header">Obrigatórias</div>
	<div id="headerDescription">Disciplina <span>créditos / <a title="variando de 1-fácil até 5-difícil">dificuldade</a></span></div>
	
	<div class="disc2">
		
		@for(disciplina <- naoAlocadas) {
			@if(disciplina.getPeriodoSugerido() == 2){
				<a onclick="adicionarDisciplina('@disciplina.getId()', '@numPeriodo')" class="cada2" title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- naoAlocadas) {
			@if(disciplina.getPeriodoSugerido() == 3){
				<a onclick="adicionarDisciplina('@disciplina.getId()', '@numPeriodo')" class="cada2" title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- naoAlocadas) {
			@if(disciplina.getPeriodoSugerido() == 4){
				<a onclick="adicionarDisciplina('@disciplina.getId()', '@numPeriodo')" class="cada2" title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- naoAlocadas) {
			@if(disciplina.getPeriodoSugerido() == 5){
				<a onclick="adicionarDisciplina('@disciplina.getId()', '@numPeriodo')" class="cada2" title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- naoAlocadas) {
			@if(disciplina.getPeriodoSugerido() == 6){
				<a onclick="adicionarDisciplina('@disciplina.getId()', '@numPeriodo')" class="cada2" title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- naoAlocadas) {
			@if(disciplina.getPeriodoSugerido() == 7){
				<a onclick="adicionarDisciplina('@disciplina.getId()', '@numPeriodo')" class="cada2" title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- naoAlocadas) {
			@if(disciplina.getPeriodoSugerido() == 8){
				<a onclick="adicionarDisciplina('@disciplina.getId()', '@numPeriodo')" class="cada2" title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
	</div>

	<div id="header">Optativas de Outros Cursos</div>
	<div id="headerDescription">Disciplina <span>créditos / <a title="variando de 1-fácil até 5-difícil">dificuldade</a></span></div>
	
	<div class="disc2">
		@for(disciplina <- naoAlocadas) {
				@if(disciplina.getPeriodoSugerido() == -1){
					<a onclick="adicionarDisciplina('@disciplina.getId()', '@numPeriodo')" class="cada2" title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
					<br>
				}
		}
	</div>
			
	<div id="header">Optativas TECC</div>
	<div id="headerDescription">Disciplina <span>créditos / <a title="variando de 1-fácil até 5-difícil">dificuldade</a></span></div>
			
	<div class="disc2">
		@for(disciplina <- naoAlocadas) {
			@if(disciplina.getPeriodoSugerido() == -2){
				<a onclick="adicionarDisciplina('@disciplina.getId()', '@numPeriodo')" class="cada2" title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   <span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
	</div>
</div>
}