@(periodos: List[Periodo], naoAlocadas: List[Disciplina], numPeriodo: Integer, planejador: Planejador)

@import helper._

@main("Planejamento de Curso") {

<div id="col1"><h2 style="border-bottom: none">Períodos</h2><!-- coluna de periodos -->

	<div class="disciplinasPeriodo"><!-- Começo de um periodo -->
	
		@for(periodo <- periodos){
			@if(periodo.getNumero() == numPeriodo && periodo.getNumero != 1){
				<div class="numPriodo">@periodo.getNumero()º Período<span><a class="addDiscPeriodo" onclick="deletaPeriodo('@numPeriodo', '@periodo.getTotalDeDisciplinas()')">Deletar</a></span></div><!-- Numero do periodo -->
			} else {
				<div class="numPriodo">@periodo.getNumero()º Período</div><!-- Numero do periodo -->
			}
			<div id="headerDescription">Disciplina <span>créditos / <a title="variando de 1-fácil até 5-difícil">dificuldade</a></span></div>
				<div class="disc"><!-- Disciplinas do periodo -->
				    @for(disciplinaPeriodo <- periodo.getDisciplinas()) {
				    	@if(disciplinaPeriodo.getPeriodoSugerido() != 1 && periodo.getNumero() == numPeriodo){
						    <a class="cada1" title="Pré-requisitos: @disciplinaPeriodo.getPreRequisitos">@disciplinaPeriodo.getNome() </a>  <span>@disciplinaPeriodo.getCreditos()  /  @disciplinaPeriodo.getDificuldade()
						    <a class="addDiscPeriodo" onclick="rmDisc('@planejador.ehPreRequisito(disciplinaPeriodo, numPeriodo)', '@disciplinaPeriodo.getId()', '@numPeriodo')">Rm</a></span>
						    <br>
				    	} else {
						    <a class="cada1" title="Pré-requisitos: @disciplinaPeriodo.getPreRequisitos">@disciplinaPeriodo.getNome() </a>  <span>@disciplinaPeriodo.getCreditos() / @disciplinaPeriodo.getDificuldade()</span><br>
				    	}
					}
				</div>
			<div class="totalC"><!-- Total de créditos do periodo -->
			@if(periodo.getTotalDeCreditos() < 14){
				<div class="totalCNota">Número mínimo de 14 créditos não alcançado</div>
			}
				<b>Total: </b>@periodo.getTotalDeCreditos()  /   @periodo.getTotalDeDificuldade()
			</div>
			@if(periodo.getNumero() == numPeriodo) {
				<center id="edd">Clique em Add para adicionar e Rm para remover<a id="closeEdit"href="../../periodos">X</a></center>
			}
			
			@if(periodo.getNumero() != numPeriodo) {
				@form(routes.Application.editar(periodo.getNumero())) {
					<input class="addDisc" type="submit" value="Editar período">
				}
			}
			
	    }
	   
	</div><!-- Fim de um periodo -->
	
	<div id="addPeriodo">
		 @form(routes.Application.novoPeriodo()) {
              <input class="bAdd" type="submit" value="+ Novo Periodo">
         } 
	</div><!-- div para criar novo periodo -->
</div>


<div id="col2"><h2>Disciplinas Obrigatórias</h2><!-- coluna de disciplinas -->
	
	<div id="headerDescription">Disciplina <span>créditos / <a title="variando de 1-fácil até 5-difícil">dificuldade</a></span></div>
	<div class="disc2">
		@for(disciplina <- naoAlocadas) {
			@if(disciplina.getPeriodoSugerido() == 2){
				<a class="cada2" title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>   
				<span>@disciplina.getCreditos()  /  @disciplina.getDificuldade() <a class="addDiscPeriodo" onclick="addDisc('@disciplina.getId()', '@numPeriodo', '@planejador.temPreRequisito(disciplina)')">Add</a></span> 
				<br>
			}
		}
		<br>
		@for(disciplina <- naoAlocadas) {
			@if(disciplina.getPeriodoSugerido() == 3){
				<a class="cada2" title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>
				<span>@disciplina.getCreditos()  /  @disciplina.getDificuldade() <a class="addDiscPeriodo" onclick="addDisc('@disciplina.getId()', '@numPeriodo', '@planejador.temPreRequisito(disciplina)')">Add</a></span> 
				<br>
			}
		}
		<br>
		@for(disciplina <- naoAlocadas) {
			@if(disciplina.getPeriodoSugerido() == 4){
				<a class="cada2" title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>
				<span>@disciplina.getCreditos()  /  @disciplina.getDificuldade() <a class="addDiscPeriodo" onclick="addDisc('@disciplina.getId()', '@numPeriodo', '@planejador.temPreRequisito(disciplina)')">Add</a></span>
				<br>
			}
		}
		<br>
		@for(disciplina <- naoAlocadas) {
			@if(disciplina.getPeriodoSugerido() == 5){
				<a class="cada2" title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>
				<span>@disciplina.getCreditos()  /  @disciplina.getDificuldade() <a class="addDiscPeriodo" onclick="addDisc('@disciplina.getId()', '@numPeriodo', '@planejador.temPreRequisito(disciplina)')">Add</a></span>
				<br>
			}
		}
		<br>
		@for(disciplina <- naoAlocadas) {
			@if(disciplina.getPeriodoSugerido() == 6){
				<a class="cada2" title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>
				<span>@disciplina.getCreditos()  /  @disciplina.getDificuldade() <a class="addDiscPeriodo" onclick="addDisc('@disciplina.getId()', '@numPeriodo', '@planejador.temPreRequisito(disciplina)')">Add</a></span>
				<br>
			}
		}
		<br>
		@for(disciplina <- naoAlocadas) {
			@if(disciplina.getPeriodoSugerido() == 7){
				<a class="cada2" title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>
				<span>@disciplina.getCreditos()  /  @disciplina.getDificuldade() <a class="addDiscPeriodo" onclick="addDisc('@disciplina.getId()', '@numPeriodo', '@planejador.temPreRequisito(disciplina)')">Add</a></span>
				<br>
			}
		}
		<br>
		@for(disciplina <- naoAlocadas) {
			@if(disciplina.getPeriodoSugerido() == 8){
				<a class="cada2" title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>
				<span>@disciplina.getCreditos()  /  @disciplina.getDificuldade() <a class="addDiscPeriodo" onclick="addDisc('@disciplina.getId()', '@numPeriodo', '@planejador.temPreRequisito(disciplina)')">Add</a></span>
				<br>
			}
		}
		<br>

	</div>
</div>
<div id="col3"><h2>Disciplinas Optativas</h2><!-- coluna de disciplinas optativas -->
	<div id="header">Outros cursos</div>
	<div id="headerDescription">Disciplina <span>créditos / <a title="variando de 1-fácil até 5-difícil">dificuldade</a></span></div>
	<div class="disc2">
		@for(disciplina <- naoAlocadas) {
			@if(disciplina.getPeriodoSugerido() == -1){
				<a class="cada3" title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>
				<span>@disciplina.getCreditos()  /  @disciplina.getDificuldade() <a class="addDiscPeriodo" onclick="addDisc('@disciplina.getId()', '@numPeriodo', '@planejador.temPreRequisito(disciplina)')">Add</a></span> 
				<br>
			}
		}
	</div>
			
	<div id="header">TECC</div>
	<div id="headerDescription">Disciplina <span>créditos / <a title="variando de 1-fácil até 5-difícil">dificuldade</a></span></div>
			
	<div class="disc2">
		@for(disciplina <- naoAlocadas) {
			@if(disciplina.getPeriodoSugerido() == -2){
				<a class="cada3" title="Pré-requisitos: @disciplina.getPreRequisitos()">@disciplina.getNome()</a>
				<span>@disciplina.getCreditos()  /  @disciplina.getDificuldade() <a class="addDiscPeriodo" onclick="addDisc('@disciplina.getId()', '@numPeriodo', '@planejador.temPreRequisito(disciplina)')">Add</a></span> 
				<br>
			}
		}
	</div>
</div>
}
