@(periodos: List[Periodo], naoAlocadas: List[Disciplina], numPeriodo: Integer, planejador: Planejador)

@import helper._

@main("Planejamento de Curso") {

<h1>Planejamento de Curso</h1> <h1 class="nomeUsuario"> &nbsp; - @planejador.getUsuario().getNome()</h1>
<a onclick="logout()"><div id="botao">Sair</div></a>
<a href="/outro_plano/id"><div id="botao">Outros planos</div></a>
<a href="/disciplinas/01"><div id="botao">Disciplinas</div></a>
<a href="/home"><div id="botao">Home</div></a>

<div id="top1"><!-- coluna de periodos -->
	<a onclick="novoPeriodo('@planejador.getTotalDePeriodos()')"><div id="botaoPeriodo">+ Período</div></a>
	@if(planejador.isInvertido()){
		<a onclick="ordenar('@numPeriodo')" title="Ordenação crescente"><div id="ordenacao"> <span class="glyphicon glyphicon-chevron-up"> </div></a>
	} else {
		<a onclick="inverter('@numPeriodo')" title="Ordenação decrescente"><div id="ordenacao"> <span class="glyphicon glyphicon-chevron-down"> </div></a>
	}
	<h2>Períodos</h2>
</div>
<div id="col1">
	@for(periodo <- periodos){
		@if(periodo.getNumero() == numPeriodo){  <!-- Se eh o periodo atual -->
			<div id="periodoBox">
			
				<div id="numPeriodoEditando"><b>@periodo.getNumero()º</b> Período
					<div id="periodoOptions">
				  		<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
				    		<span class="caret"></span>
				  		</button>
				  		<ul class="dropdown-menu pull-right" role="menu">
				    		<li><a href="/plano">Fechar edição <i class="glyphicon glyphicon-ok"></i></a></li>
				    		<li><a href="/marcar/@periodo.getNumero()">Marcar como atual <i class="glyphicon glyphicon-screenshot"></i></a></li>
				  		</ul>
				  	</div>
					@if(periodo.getNumero() == planejador.getNumPeriodoAtual()){
						<div id="cursando">Cursando...</div>
					}
				</div>
			
				<div id="headerDescription">Disciplina <span>créditos / dificuldade </span></div>
				<div class="disc"><!-- Disciplinas do periodo -->
				    @for(disciplinaPeriodo <- periodo.getDisciplinas()) {
				    	@if(planejador.temPreRequisitosEmPeriodosAnteriores(disciplinaPeriodo, periodo.getNumero)) {
				    		@if(!planejador.ehDisciplinaOptativaGenerica(disciplinaPeriodo)){
					    		<a class="periodo" href="/disciplinas/@disciplinaPeriodo.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp;
				    		}
				    	   	<a onclick="removerDisciplina('@disciplinaPeriodo.getId()', '@numPeriodo', '@planejador.ehPreRequisito(disciplinaPeriodo, periodo.getNumero())')" class="cada1">@disciplinaPeriodo.getNome()</a>
				    	   	<span>@disciplinaPeriodo.getCreditos() / @disciplinaPeriodo.getDificuldade()</span>
				    		<br>
				    	} else {
				    		<a class="periodo" href="/disciplinas/@disciplinaPeriodo.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp;
				    		<a onclick="removerDisciplina('@disciplinaPeriodo.getId()', '@numPeriodo', '@planejador.ehPreRequisito(disciplinaPeriodo, periodo.getNumero())')" 
				    		class="cada1 discRed" title="Os pré-requisitos: '@planejador.getPreRequisitosAlocadosEmPeriodosPosteriores(disciplinaPeriodo, periodo.getNumero)' precisam estar alocados antes desta">
				    		@disciplinaPeriodo.getNome()</a>
				    		<span>@disciplinaPeriodo.getCreditos() / @disciplinaPeriodo.getDificuldade()</span>
				    		<br>
				    	}
				    }
				</div>
				<div class="totalC"><!-- Total de créditos do periodo -->
				@if(periodo.getTotalDeCreditos() < 14 && periodo.getNumero >= planejador.getNumPeriodoAtual()){
					<div class="totalCNota">Número mínimo de 14 créditos não alcançado</div>
				}
					<b>Total: </b>@periodo.getTotalDeCreditos()  /   @periodo.getTotalDeDificuldade()
				</div>
				<div id="editandoNote">Clique em uma disciplina para adicionar aqui, mover de outro período ou remover deste.</div>
			</div>
		} else {  <!-- Se nao eh o periodo atual -->
			<div id="periodoBox">
			
				<div id="numPeriodo"><b>@periodo.getNumero()º</b> Período
				<div id="periodoOptions">
			  		<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
			    		<span class="caret"></span>
			  		</button>
			  		<ul class="dropdown-menu pull-right" role="menu">
			    		<li><a href="/editar/@periodo.getNumero()">Editar período <i class="glyphicon glyphicon-pencil"></i></a></li>
			    		<li><a href="/marcar/@periodo.getNumero()">Marcar como atual <i class="glyphicon glyphicon-screenshot"></i></a></li>
			  		</ul>
			  	</div>
				@if(periodo.getNumero() == planejador.getNumPeriodoAtual()){
					<div id="cursando">Cursando...</div>
				}
				</div>
				
				<div id="headerDescription">Disciplina <span>créditos / dificuldade </span></div>
				<div class="disc"><!-- Disciplinas do periodo -->
				    @for(disciplinaPeriodo <- periodo.getDisciplinas()) {
				    	@if(planejador.ehDisciplinaOptativaGenerica(disciplinaPeriodo)) {
				    		@disciplinaPeriodo.getNome()
					    	<span>@disciplinaPeriodo.getCreditos() / _</span>
					  		<br>
				    	} else {
					    	@if(planejador.temPreRequisitosEmPeriodosAnteriores(disciplinaPeriodo, periodo.getNumero)) {
					    		<a class="periodo" href="/disciplinas/@disciplinaPeriodo.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp;
					    	   	<a onclick="moverDisciplina('@disciplinaPeriodo.getId()', '@numPeriodo', '@periodo.getNumero()')" class="cada1">@disciplinaPeriodo.getNome()</a>
					    	   	<span>@disciplinaPeriodo.getCreditos() / @disciplinaPeriodo.getDificuldade()</span>
					    		<br>
					    	} else {
					    		<a class="periodo" href="/disciplinas/@disciplinaPeriodo.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp;
					    		<a onclick="moverDisciplina('@disciplinaPeriodo.getId()', '@numPeriodo', '@periodo.getNumero()')" class="cada1 discRed" 
					    		title="Os pré-requisitos: '@planejador.getPreRequisitosAlocadosEmPeriodosPosteriores(disciplinaPeriodo, periodo.getNumero)' precisam estar alocados antes desta">
					    		@disciplinaPeriodo.getNome()</a>
					    		<span>@disciplinaPeriodo.getCreditos() / @disciplinaPeriodo.getDificuldade()</span>
					    		<br>
					    	}
				    	}
				    }
			   	</div>
				<div class="totalC"><!-- Total de créditos do periodo -->
				@if(periodo.getTotalDeCreditos() < 14 && periodo.getNumero >= planejador.getNumPeriodoAtual()){
					<div class="totalCNota">Número mínimo de 14 créditos não alcançado</div>
				}
					<b>Total: </b>@periodo.getTotalDeCreditos()  /   @periodo.getTotalDeDificuldade()
				</div>
			</div><!-- Fim de um periodo -->
		}			
	}
</div>

<div id="top2"><h2>Disciplinas</h2></div><!-- coluna de disciplinas -->
<div id="col2">
	<div id="header">Obrigatórias</div>
	<div id="headerDescription">Disciplina <span>créditos / dificuldade </span></div>
	
	<div class="disc2">
		@for(disciplina <- naoAlocadas) {
			@if(planejador.getPeriodoDaDisciplinaNaGrade(disciplina) == 1){
				<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
				<a onclick="adicionarDisciplina('@disciplina.getId()', '@numPeriodo', '@planejador.temPreRequisitoNaoAlocado(disciplina)')" class="cada2">
					@disciplina.getNome()</a><span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		
		@for(disciplina <- naoAlocadas) {
			@if(planejador.getPeriodoDaDisciplinaNaGrade(disciplina) == 2){
				<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
				<a onclick="adicionarDisciplina('@disciplina.getId()', '@numPeriodo', '@planejador.temPreRequisitoNaoAlocado(disciplina)')" class="cada2">
					@disciplina.getNome()</a><span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- naoAlocadas) {
			@if(planejador.getPeriodoDaDisciplinaNaGrade(disciplina) == 3){
				<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
				<a onclick="adicionarDisciplina('@disciplina.getId()', '@numPeriodo', '@planejador.temPreRequisitoNaoAlocado(disciplina)')" class="cada2">
					@disciplina.getNome()</a><span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- naoAlocadas) {
			@if(planejador.getPeriodoDaDisciplinaNaGrade(disciplina) == 4){
				<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
				<a onclick="adicionarDisciplina('@disciplina.getId()', '@numPeriodo', '@planejador.temPreRequisitoNaoAlocado(disciplina)')" class="cada2">
					@disciplina.getNome()</a><span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- naoAlocadas) {
			@if(planejador.getPeriodoDaDisciplinaNaGrade(disciplina) == 5){
				<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
				<a onclick="adicionarDisciplina('@disciplina.getId()', '@numPeriodo', '@planejador.temPreRequisitoNaoAlocado(disciplina)')" class="cada2">
					@disciplina.getNome()</a><span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- naoAlocadas) {
			@if(planejador.getPeriodoDaDisciplinaNaGrade(disciplina) == 6){
				<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
				<a onclick="adicionarDisciplina('@disciplina.getId()', '@numPeriodo', '@planejador.temPreRequisitoNaoAlocado(disciplina)')" class="cada2">
					@disciplina.getNome()</a><span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- naoAlocadas) {
			@if(planejador.getPeriodoDaDisciplinaNaGrade(disciplina) == 7){
				<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
				<a onclick="adicionarDisciplina('@disciplina.getId()', '@numPeriodo', '@planejador.temPreRequisitoNaoAlocado(disciplina)')" class="cada2">
					@disciplina.getNome()</a><span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
		<br>
		@for(disciplina <- naoAlocadas) {
			@if(planejador.getPeriodoDaDisciplinaNaGrade(disciplina) == 8){
				<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
				<a onclick="adicionarDisciplina('@disciplina.getId()', '@numPeriodo', '@planejador.temPreRequisitoNaoAlocado(disciplina)')" class="cada2">
					@disciplina.getNome()</a><span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
	</div>

	<div id="header">Optativas TECC</div>
	<div id="headerDescription">Disciplina <span>créditos / dificuldade </span></div>
			
	<div class="disc2">
		@for(disciplina <- naoAlocadas) {
			@if(planejador.ehOptativaTECC(disciplina)){
				<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
				<a onclick="adicionarDisciplina('@disciplina.getId()', '@numPeriodo', '@planejador.temPreRequisitoNaoAlocado(disciplina)')" class="cada2">
					@disciplina.getNome()</a><span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
	</div>

	<div id="header">Optativas de Outros Cursos</div>
	<div id="headerDescription">Disciplina <span>créditos / dificuldade </span></div>
	
	<div class="disc2">
		@for(disciplina <- naoAlocadas) {
			@if(planejador.ehOptativaDeOutrosCursos(disciplina)){
				<a class="disciplina" href="/disciplinas/@disciplina.getId()"><div class="glyphicon glyphicon-info-sign"></div></a> &nbsp; 
				<a onclick="adicionarDisciplina('@disciplina.getId()', '@numPeriodo', '@planejador.temPreRequisitoNaoAlocado(disciplina)')" class="cada2">
					@disciplina.getNome()</a><span>@disciplina.getCreditos()  /  @disciplina.getDificuldade()</span>
				<br>
			}
		}
	</div>
</div>

<div id="barraDeStatus">
	Cursados: <b>@planejador.getTotalDeCreditosCursados() créditos</b> / 
	Cursados + Planejados: <b>@planejador.getTotalDeCreditos() créditos</b> 
	<span>Mínimo de créditos para concluir o curso: <b>@planejador.getMinimoDeCreditosDoCurso() créditos</b></span>
</div>

}