@(usuario: Usuario)

@import helper._

@main("Planejamento de Curso") {

<h1>Planejamento de Curso</h1> <h1 class="nomeUsuario"> &nbsp; - @usuario.getNome()</h1>
<a onclick="logout()"><div id="botao">Sair</div></a>

<div id="main">

	<div id="index">
			<a href="/plano"><div id="indexBox">
			<div id="indexIcons" class="glyphicon glyphicon-tasks"></div><br>Meu plano
			</div></a>
			
			<a href="/disciplinas/id"><div id="indexBox">
			<div id="indexIcons" class="glyphicon glyphicon-list-alt"></div><br>Disciplinas
			</div></a>
			
			<a href="/outro_plano/id"><div id="indexBox">
			<div id="indexIcons" class="glyphicon glyphicon-user"></div><br>Outros planos
			</div></a>
			
	</div>
	
</div>
}
